---
import Layout from '@/layouts/Layout.astro'
import { getMarkdownEntries, type PostEntry } from '@/utils'
import { render } from 'astro:content'
import { format } from 'date-fns'

export async function getStaticPaths() {
  const entries = await getMarkdownEntries()
  return entries.map((entry) => ({
    params: { slug: entry.data.link },
    props: { entry },
  }))
}

type Props = { entry: Awaited<ReturnType<typeof getMarkdownEntries>>[number] }
const { entry } = Astro.props as Props
const post = entry.collection === 'posts' ? (entry as PostEntry) : null
const { Content } = await render(entry)
---

<Layout title={entry.data.title} description={entry.data.description}>
  <main class="container max-w-[65ch] w-full mx-auto space-y-8">
    <section class="space-y-3">
      <h1>
        {entry.data.title}
      </h1>
      <p class="text-tx-2 flex gap-3">
        {post && format(post.data.pubDate, 'MMMM dd, yyyy')}
        <a href={`/${entry.data.link}.md`} class="underline">Source</a>
        <a href="/" class="underline">Back</a>
      </p>
    </section>
    <article class="prose">
      <Content />
    </article>
  </main>
</Layout>
