@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;

html.dark {
  color-scheme: dark;
}

@media screen and (min-width: 1150px) {
  html,
  .radix-themes {
    background-size: 30px 30px;
    background-image: radial-gradient(
      circle,
      #d4d4d4 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }

  html.dark,
  html.dark .radix-themes {
    background-size: 30px 30px;
    background-image: radial-gradient(
      circle,
      #262626 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

iframe {
  max-width: 100%;
}
