---
interface Props {
  className?: string
  title: string
  tag?: 'p' | 'span'
}
const { className, title, tag = 'span' } = Astro.props
---

<>
  {
    tag === 'span' ? (
      <span class={className} transition:name={title}>
        <slot />
      </span>
    ) : (
      <p class={className} transition:name={title}>
        <slot />
      </p>
    )
  }
</>
